select {
    background-color: rgb(89, 117, 243);;
    border: 0;
    border-radius: 40px;
}

.drop {
    background-color: aliceblue;
    width:50%;
}

.dropdown{
    padding:0;
    background-color: rgb(89, 117, 243);;
}

.btn {
    border-radius: 50;
}

.profile {
    width: 65px;
}



.birthday{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding-top: 20px;
    padding-bottom: 15px;
    
}

h3 {
    color: azure;
}

#post {
 border-radius: 50px;
}
 
.post{
    border-radius: 1px solid gray;
}

.right-column {
    flex: 1;
}

.shortcut{
    border-top: 1px solid gray;
    padding-top: 10px;
}

.list-group{
    padding-bottom:20px;
}

.footer {
    
    display: flex;
    justify-content: space-between;
    /* width: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20%;
}

@media only screen and (min-width: 768px) {

}